.banner {
  width: 100%;
  height: 10%;
  box-shadow: 0px 0px 3em hsla(0, 0%, 55%, 0.534);
  justify-content: center;
}

.banner-nav {
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* justify-content: center;
  align-items: flex-start;
  flex-direction: row; */
  display: inline-block;
}

.banner-text {
  float: left;
  height: inherit;
  vertical-align: middle;
  font-size: 2em;
  padding: 0.5em;
  font-weight: 300;
}
